.titulo{
  font-family: 'Orbitron', sans-serif;
}
h4,h3{
    font-family: 'Orbitron', sans-serif;
    color:white;
}
h2{
  font-family: 'Orbitron', sans-serif;
  color:white;
  text-align: justify;
}
body{
  background: url(multimedia/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p{
  font-family: 'Russo One', sans-serif;
  color:#9f9f9f;
  text-align: justify;
}
.navbar-collapse{
    background-color: #191919;
}
.breadcrumb {
    background-color: #FFFFF;
}
video{
  border-radius: 25px;
}
/*Inicio de personalización de la página 3*/
#img1{
  float:right;
  margin: inherit;
  padding:inherit;
  border-radius: 10px;
}
#img2{
  float:left;
  margin: inherit;
  padding:inherit;
  border-radius: 10px;
}
#img3{
  float:right;
  margin: inherit;
  padding:inherit;
  border-radius: 10px;
}
